* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

body {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
}

img {
    padding: 1.25rem 0;
}

h1 {
    color: hsl(0, 0%, 95%);
    transform: scale(.75, 1.4);
    width: 0px;
    
    
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.25rem;
    padding: 1.875rem 0;
}
button {
    background-color: hsl(0, 0%, 95%);
    border: solid 1.5px;
    border-color: hsl(0, 0%, 95%);
    cursor: pointer;
    border-radius: 25px;
    width: 8.4375rem;
    height: 2.8125rem;
    font-weight: 700;
}
.column1 button {
    color: hsl(31, 77%, 52%);
}
.column2 button {
    color: hsl(184, 100%, 22%);
}
.column3 button {
    color: hsl(179, 100%, 13%);
}

button:hover {
    background-color: inherit;
    color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 95%);
    
}

.container {
    
    min-height: 80vh;
    width: 21.875rem;
    min-width: 20.3125rem;
    margin: 1.5625rem auto;
    padding: 1.25rem ;
    
}

.column1 {
    background-color: hsl(31, 77%, 52%);
    height: 26.5625rem;
    padding: 1.5625rem 6.25rem 1.5625rem 2.5rem;
    border-radius: .625rem .625rem 0 0;
}


.column2 {
    background-color: hsl(184, 100%, 22%);
    height: 26.5625rem;
    padding: 1.5625rem 3.75rem 1.5625rem 2.5rem;
}

.column3 {
    background-color: hsl(179, 100%, 13%);
    height: 26.5625rem;
    padding: 1.5625rem 3.75rem 1.5625rem 2.5rem;
    border-radius: 0 0 .625rem .625rem;
}


.attribution {
    text-align: center;
}


@media (min-width:62.5rem) {
    
    .container {
        display: flex;
        flex-direction: row;
        min-width: 62.5rem;
        margin-top: 6.25rem;
    }

    .column1 {
        height: 34.375rem;
        min-width:18.75rem;
        padding: 1.875rem;
        border-radius: .625rem 0 0 .625rem;
    }

    .column2 {
        height: 34.375rem;
        min-width: 18.75rem;
        padding: 1.875rem;
    }

    .column3 {
        height: 34.375rem;
        min-width: 18.75rem;
        padding: 1.875rem;
        border-radius: 0  .625rem .625rem 0 ;
    }

    button {
        margin-top: 2.5rem;
        width: 9.375rem;
        height: 2.8125rem;
    }

    p {
        height: 13.125rem;
        padding-right: 3.75rem;
        padding: 2.5rem  3.75rem 0rem 0rem;
        line-height: 1.5rem;
    }

    img {
        margin-bottom: .9375rem;
    }
}